
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf") format("ttf");
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaStdBook.otf");
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.ttf") format("ttf");
}



:root {
  --font-logo: 'Futura', sans-serif;
  --font-head: 'Futura', sans-serif;
  --font-para: 'Helvetica', sans-serif;
  --color-one: #C3B29E;
  --background-dark: #060606;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-head);
}

p,
span {
  font-family: var(--font-para);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: var(--background-dark); */
  color: #fff;
  /* overflow-x: hidden; */
  overflow-x: visible;


  -webkit-overflow-scrolling: touch;
}

.new-apage-section {
  padding: 110px 5% 10px;
}
.desktop-awards{
    display:block;
}

.mobile-awards{
    display:none;
}
.new-apage-section .apage-heading h1 {
  font-size: clamp(32px, 5vw, 44px);
  color: #000;
  margin-bottom: 20px;
}

.new-apage-wrapper {
  display: flex;
  gap: 20px;
  height: 420px;
  overflow: hidden;
}

.new-apage-card {
  position: relative;
  flex: 1;
  min-width: 90px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: .5s ease;
  background:
    radial-gradient(circle at bottom center,
      rgba(255, 255, 255, .18),
      transparent 40%),
    linear-gradient(180deg, #121212, #050505);
  /* border: 1px solid rgba(255, 255, 255, .08); */
  isolation: isolate;
}

.new-apage-card::before {
    content: "";
    position: absolute;
    inset: 0;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: transform .6s ease;
    z-index: -2;
}

/* Overlay */
.new-apage-card::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        180deg,
        rgba(0,0,0,.35) 0%,
        rgba(0,0,0,.65) 100%
    );

    z-index: -1;
}

.new-apage-card:hover::before {
    transform: scale(1.08);
}

.bg1::before {
    background-image: url('../images/awards/HD-awards.png');
}

.bg2::before {
    background-image: url('../images/awards/19th-ida-logo.png');
}

.bg3::before {
    background-image: url('../images/awards/LIV-awards.png');
}

.bg4::before {
    background-image: url('../images/awards/19th-ida-logo.png');
}

.bg5::before {
    background-image: url('../images/awards/LIV-awards.png');
}

/* .bg6::before {
    background-image: url('../images/awards/bg6.png');
}

.bg7::before {
    background-image: url('../images/awards/bg7.png');
} */
.new-apage-card.active {
  flex: 3;
  background:
    radial-gradient(circle at bottom center,
      rgba(255, 255, 255, .25),
      transparent 40%),
    linear-gradient(180deg, #19060a, #080808);
}

.new-apage-title {
  position: absolute;
  left: 18px;
  top: -45px;
  color: #fff;
  font-family: var(--font-head);
  font-size: 13px;
  font-weight: 500;
  writing-mode: vertical-rl;
  
  transform: rotate(180deg);
  transform-origin: left bottom;

  transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1),
              opacity 0.4s ease;
  letter-spacing: .5px;
  /* transition: .4s; */
}

.new-apage-card.active .new-apage-title {
  writing-mode: horizontal-tb;
  transform: none;
  top: 15px;
}

.new-apage-content {
  position: absolute;
  left: 32px;
  right: 32px;
  bottom: 40px;
  color: #fff;
  opacity: 0;
  transform: translateY(20px);
  transition: .4s;
  max-width: 420px;
}

.new-apage-card.active .new-apage-content {
  opacity: 1;
  transform: translateY(0);
}

.new-apage-content h3 {
  font-size: 30px;
  margin-bottom: 12px;
  font-family: var(--font-head);
}

.new-apage-content p {
  font-size: 15px;
  line-height: 1.7;
  color: #d0d0d0;
  margin-bottom: 18px;
}

.new-apage-link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-para);
}

.new-apage-link::after {
  content: "↗";
}
.new-apage-link:hover{
  text-decoration: underline;
}

.newApageSwiper{
    position: relative;
}

.new-apage-prev,
.new-apage-next{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 20;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    background: #0000006d;
    border-radius: 50%;

    width: 45px;
    height: 45px;
    cursor: pointer;
}

.new-apage-prev{
    left: 10px;
}

.new-apage-next{
    right: 10px;
}

.new-apage-pagination {
    position: relative !important;
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.new-apage-pagination .swiper-pagination-bullet-active {
    background: #C3B29E;
    width: 28px;
    border-radius: 20px;
}
.award-modal-close{
  display: none;
}
/* mobile and tab/ipad */
@media(max-width:1199px){

    .desktop-awards{
        display:none;
    }

    .mobile-awards{
        display:block;
    }

    .mobile-award-card{
    position:relative;
    height:420px;
    border-radius:20px;
    overflow:hidden;

    background-size:cover;
    background-position:center;
}

.mobile-award-overlay{
    position:absolute;
    inset:0;

    background:linear-gradient(
        180deg,
        rgba(0,0,0,.2),
        rgba(0,0,0,.75)
    );
}
.mobile-award-card.bg1{
    background-image:url('../images/awards/HD-awards.png');
}

.mobile-award-card.bg2{
    background-image:url('../images/awards/19th-ida-logo.png');
}

.mobile-award-card.bg3{
    background-image:url('../images/awards/LIV-awards.png');
}

.mobile-award-card.bg4{
    background-image:url('../images/awards/19th-ida-logo.png');
}

.mobile-award-card.bg5{
    background-image:url('../images/awards/LIV-awards.png');
}
.mobile-award-content{
    position:absolute;
    left:25px;
    right:25px;
    bottom:25px;
    z-index:2;
   
}

.mobile-award-content h3{
    font-size:28px;
    margin-bottom:12px;
}

.mobile-award-content p{
    line-height:1.6;
    margin-bottom:18px;
     text-align: left;
}
.mobile-awards-pagination{
  position: relative !important;
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-awards-pagination .swiper-pagination-bullet-active {
    background: #C3B29E;
    width: 28px;
    border-radius: 20px;
}
}
@media(min-width:768px) and (max-width:1199px){

    .mobile-award-card{
        height:450px;
    }

}



.award-modal-image.bg1{
    background-image:url('../images/awards/HD-awards.png');
}

.award-modal-image.bg2{
    background-image:url('../images/awards/19th-ida-logo.png');
}

.award-modal-image.bg3{
    background-image:url('../images/awards/LIV-awards.png');
}

.award-modal-image.bg4{
    background-image:url('../images/awards/19th-ida-logo.png');
}

.award-modal-image.bg5{
    background-image:url('../images/awards/LIV-awards.png');
}